# Байт-код Python, кэш, исполняемые
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Логи, временные файлы, результаты
logs/
*.log
*.tmp
output.mp3

# Базы данных
*.sqlite3

# Системные и пользовательские каталоги файла
system/

# Модули и кэширование pip
*.egg-info/
dist/
build/

# Пользовательские конфиги
src/data/run/config.py

# Неотслеживаемые выходные данные/записи
*.wav
*.mp3